*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background:#D5D8DD;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 25px;
    background-color: #D4D3AB;
}
.control{
    position:sticky;
    top: 0px;
}
.logo{
    margin-left: 30px;
}
.logo img{
   size: 300px;
}

nav{
    flex: 1;
    text-align: right; 
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration:  none;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.active, .grrr ul li:hover{
    background: #c99a01;
    border-radius: 3px;
}
.menu{
    display:none;
}
.grrr ul li:hover .menu
{
    display: block;
    position: absolute;
    background: #e0e6e7;
}
.grrr ul li:hover .menu ul li
{
    display: block;
    margin: 21px;
    
}

.menu2{
    display:none;
}
.grrr ul li:hover .menu2
{
    display: block;
    position: absolute;
    background: #e0e6e7;
}
.grrr ul li:hover .menu2 ul li
{
    display: block;
    margin: 14px;
    
}

p{
    color: rgb(31, 31, 31) ;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
    color: rgb(206, 201, 201);
}
.col-2 gg{
    color:#c99a01;
}
.col-2 p{
    color: rgb(205, 206, 206);
}
.btn{
    display: inline-block;
    background: rgb(9, 146, 93);
    color: rgb(230, 230, 230);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

.header{
    background:  #2B444B;
}

.header .row{
    margin-top: 0px;
}

.categories{
   margin: 70px 0px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align:center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 46%;
    transform: translateX(-50);

}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fas{
    color: #ff523b;
}
.rating .far{
    color:#ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#555,#33343f);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: rgb(231, 221, 221);
}
prr{
    color:rgb(206, 205, 205);
    margin: 70px;
    position: relative;
}

.offer h1{
    color:rgb(36, 33, 33)
}





